
* {
  font-family: Helvetica, Arial, sans-serif;
}
body {
  padding: 60px;
}

input {
  columns: grey;
  font-size: 1.2rem;
  width: 100%;
}

.title {
  font-size: 40px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.title__category {
  background-color: #2e4bda;
  color: white;
  padding: 30px;
  margin: 10px 0 0 0;
  border-bottom: 5px solid #ff9510;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  overflow: hidden;
  box-shadow: inset 0px 0px 5px 0px lightgrey;
}

.card {
  align-content: center;
  box-shadow: 0px 0px 30px 10px rgb(119, 130, 152, 0.8);
  border-radius: 6px;
  flex-grow: 1;
  margin-bottom: 15px;
  margin-right: 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
  max-width: 500px;
}

.card p {
  background-color: lightgray;
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card img {
  max-height: 170px;
  margin: 15px;
  margin-bottom: 30px;
}

.card .img__blur {
  position: absolute;
  bottom: 2%;
  left: -2%;
  overflow: hidden;
  width: 150%;
  height: 150%;
  object-fit: fill;
  filter: blur(10px);
  opacity: .7;
  z-index: -1;
}